a {
    color: gray;
    text-decoration: none;
}

.like:link {
    color: gray;
    text-decoration: none;
}

.like:visited {
    color: gray;
    text-decoration: none;
}

.like:hover {
    color: gray;
    text-decoration: none;
}


.unlike:link {
    color: red;
    text-decoration: none;
}

.unlike:visited {
    color: red;
    text-decoration: none;
}

.unlike:hover {
    color: red;
    text-decoration: none;
}


#container {
    display: grid;
    grid-template-rows: 1fr;
    margin: auto;
}

#container li {
    display: block;
    position: relative;
    width: 250px;
    height: 150px;
    margin: 1em;
    border: 1px solid gray;
    grid-template-columns: 1fr;
    list-style: none;
    float: left;
    color: gray;
}


.like {
   position: absolute;
   left: 0;
   bottom: 0;
   color: gray;
   text-decoration: none;
}

.unlike {
    position: absolute;
    left: 0;
    bottom: 0;
    text-decoration: none;
    color: red;
 }